@import 'variables';
@import 'animations';

@mixin centered($column: false) {
  display: flex;
  align-items: center;
  justify-content: center;

  @if ($column) {
    flex-direction: column;
  }
}

@mixin bordered-button {
  font-size: $font-small-1;
  font-weight: $weight-heavy;
  width: fit-content;
  padding: $grid-base $grid-base-2x;
  border-radius: $border-radius-standard;
  color: $grey-dark-4;
  border: 1px solid;
  text-transform: uppercase;
  transition: background-color $quick-ease-out, transform $quick-ease-out;
  text-decoration: none;
  background-color: white;
  line-height: 1;

  &:not(a) {
    cursor: default;
  }

  &:hover {
    background-color: $grey-light-3;
  }

  &:active {
    transform: scale(0.95);
  }

  &[disabled] {
    filter: grayscale(1);
    color: $grey-dark-2;
  }
}
