{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "overrides": [
    { 
      "files": "*.mdx",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
