@import 'globals/variables';

.container {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  &:empty {
    display: none;
  }

  img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

.caption-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;

  > img {
    margin-bottom: 0;
  }

  > span {
    font-size: 0.8em;
  }
}
