@import 'globals/variables';
@import 'globals/mixins';

$code-purple: #4a3c53;

%editor-styles {
  position: relative;
  padding: 3em 1em 1.25em;
  border-radius: 0.5em;
  margin: 1.25em 0 2em;
  box-shadow: 0 $grid-base $grid-base-2x 0 rgba(0, 0, 0, 0.3),
    0 $grid-base-3x $grid-base-Ax $grid-base rgba(0, 0, 0, 0.5);
  background-color: $grey-dark-4;
}

:global(.live-editor) {
  @extend %editor-styles;
  padding: 1.25em 1em !important; // to override externally inserted inline styles

  textarea {
    padding: 2em 1.65em !important; // to override externally inserted inline styles
  }
}

.code-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  @extend %editor-styles;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.line-number {
  user-select: none;
  width: $grid-base-Ax;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: $grid-base-2x;
  color: $grey-light-1;
  border-right: 1px solid;
  flex-shrink: 0;
}

.line-content {
  margin: 0 $grid-base-4x;
}

.preview-window {
  position: relative;
  border: 1px dashed $code-purple;
  border-radius: $grid-base-2x;
  padding: 19px $grid-base-2x $grid-base-2x;
  margin-bottom: 2em;
}

.live-editor-container {
  position: relative;
}

.language-bar {
  user-select: none;
  background-color: $code-purple;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $grid-base $grid-base-7x;
}

.language-bar-live {
  user-select: none;
  background-color: $code-purple;
  position: absolute;
  border-radius: $border-radius-standard;
  top: $grid-base;
  right: $grid-base;
  width: fit-content;
  font-size: 0.8em;
  padding: 0 $grid-base-4x;
  z-index: $z--base;
  font-family: monospace;
  color: white;
}

.code-content {
  width: 100%;
  overflow: auto;
  padding-bottom: 1em;
}
